In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=7325&md5_url=c7884ece65970ed288258993eb8ed447")

In [3]:
df

,首站抵達地,細分,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,亞洲地區,香港 Hong Kong,2418872,"1,869,069","2,559,705","2,807,027","2,993,317","3,030,971","2,851,170","2,261,001","2,308,633","2,156,760","2,021,212","2,038,732","2,018,129","2,008,153","1,902,647","1,773,252"
1,亞洲地區,大陸 Mainland China,1,44,-,-,-,-,"188,744","1,516,087","2,424,242","2,846,572","3,139,055","3,072,327","3,267,238","3,403,920","3,685,477","3,928,352"
2,亞洲地區,日本 Japan,797460,"731,330","1,051,954","1,180,406","1,214,058","1,280,853","1,309,847","1,113,857","1,377,957","1,136,394","1,560,300","2,346,007","2,971,846","3,797,879","4,295,240","4,615,873"
3,亞洲地區,"韓國 Korea,Republic of",120208,"179,893","298,325","368,206","396,705","457,095","363,122","388,806","406,290","423,266","532,729","518,528","626,694","500,100","808,420","888,526"
4,亞洲地區,新加坡 Singapore,190455,"125,491","160,088","184,926","204,834","189,835","167,479","137,348","166,126","207,808","241,893","297,588","283,925","318,516","319,915","326,634"
5,亞洲地區,馬來西亞 Malaysia,186791,"121,267","180,883","161,296","181,911","187,788","157,650","153,695","212,509","209,164","193,170","226,919","198,902","201,631","245,298","296,370"
6,亞洲地區,泰國 Thailand,530945,"392,414","422,189","268,231","379,275","353,439","332,997","258,449","350,074","382,635","306,746","507,616","419,133","599,523","532,787","553,804"
7,亞洲地區,菲律賓 Philippines,128158,"91,418","112,552","119,125","110,041","107,824","114,155","97,372","139,762","178,876","211,385","129,361","133,583","180,091","231,801","236,597"
8,亞洲地區,印尼 Indonesia,259610,"251,284","283,757","185,348","186,165","201,358","186,117","173,429","179,845","212,826","198,893","166,378","170,301","176,478","175,738","177,960"
9,亞洲地區,汶淶 Brunei,5850,"3,770","5,795",296,276,670,"1,233",216,714,"1,628","1,100","2,411",298,285,540,801
10,亞洲地區,越南 Vietnam,225733,"222,487","266,115","234,009","242,852","272,020","285,263","264,819","313,987","318,587","341,511","361,957","339,107","409,013","465,944","564,002"
11,亞洲地區,澳門 Macao,1269840,"837,936","1,038,006","1,163,822","1,232,232","1,196,110","926,593","739,263","667,910","587,633","527,050","514,701","493,188","527,144","598,850","589,147"
12,亞洲地區,緬甸 Myanmar,19814,"17,152","18,064","15,518","14,606","13,336","10,608","11,570","14,097","16,263","18,380","23,864","22,817","19,999","25,196","26,200"
13,亞洲地區,柬埔寨 Cambodia,-,-,-,-,-,-,-,-,"57,078","67,341","65,599","61,338","69,195","66,593","67,281","82,888"
14,亞洲地區,亞洲其他地區 Others,15894,"9,190","31,097","52,211","92,672","151,278","78,065","63,519","80,531","83,802","8,574","121,210","81,308","143,963","183,933","193,356"
15,亞洲地區,亞洲合計 Total,6169631,"4,852,745","6,428,530","6,740,421","7,248,944","7,442,577","6,973,043","7,179,431","8,642,677","8,762,214","9,367,597","10,388,937","11,095,664","12,353,288","13,539,067","14,253,762"
16,美洲地區,美國 United States of America,532180,"479,264","536,217","578,998","593,794","587,872","515,590","415,465","436,233","404,848","469,568","381,374","425,138","477,156","527,099","574,512"
17,美洲地區,加拿大 Canada,132605,"95,226","112,413","104,346","93,244","87,161","65,393","61,893","63,002","67,733","66,614","65,086","70,285","71,079","93,405","114,828"
18,美洲地區,美洲其他地區 Others,9,11,0,0,0,0,0,110,283,678,832,135,56,32,"2,687","8,021"
19,美洲地區,美洲合計 Total,664794,"574,501","648,630","683,344","687,038","675,033","580,983","477,468","499,518","473,259","537,014","446,595","495,479","548,267","623,191","697,361"
20,歐洲地區,法國 France,28967,"24,245","26,423","26,696","29,287","27,973",442,"23,518","23,960","31,337","30,132","33,000","39,126","41,185","46,461","66,720"
21,歐洲地區,德國 Germany,18911,"20,524","25,160","33,911","33,651","37,105","38,205","32,797","31,975","35,378","36,271","41,122","44,251","53,043","66,454","95,850"
22,歐洲地區,義大利 Italy,16346,"16,367","24,484","25,809","20,552","17,175","14,656","9,726","7,719","9,355","12,718",70,0,14,"13,054","47,346"
23,歐洲地區,荷蘭 Netherlands,129124,"105,885","128,162","121,728","93,422","85,352","98,321","84,535","43,955","85,238","83,253","22,102","22,749","30,906","32,851","66,332"
24,歐洲地區,瑞士 Switzerland,4,2,0,0,0,0,169,565,919,"1,414",64,0,0,0,"5,529","15,463"
25,歐洲地區,英國 United Kingdom,25764,"23,432","34,071","33,831","39,255","38,310","39,114","50,621","36,142","36,376","38,002",1,0,0,"16,321","47,797"
26,歐洲地區,奧地利 Austria,24654,"21,754","22,045","39,047","42,096","38,107","34,080","34,829","26,081","35,901","39,734","23,487","26,256","32,835","41,934","59,479"
27,歐洲地區,歐洲其他地區 Others,771,7,0,0,0,475,36,191,"1,654","4,063",586,18,"1,295","3,546","35,483","97,542"
28,歐洲地區,歐洲合計 Total,244541,"212,216","260,345","281,022","258,263","244,497","225,023","236,782","172,405","239,062","240,760","119,800","133,677","161,529","258,087","496,529"
29,大洋洲,澳大利亞 Australia,70141,"70,679","75,957","87,912","76,424","75,408","66,543","89,793","74,787","54,889","49,986","69,824","85,745","103,806","139,501","165,938"
30,大洋洲,紐西蘭 New Zealand,35758,"24,819","21,047","20,742","21,495","17,565","10,732",1,997,"15,962","1,621",6,0,3,"2,804","6,846"
31,大洋洲,帛琉 Palau,15812,"28,388","41,909","31,012","26,685","28,238","15,918","13,264","19,951","30,079","37,512","27,164","30,471","14,421","14,203","9,884"
32,大洋洲,大洋洲其他地區 Others,0,0,0,0,0,129,28,57,110,684,47,126,126,160,"1,218","1,649"
33,大洋洲,大洋洲合計 Total,121711,"123,886","138,913","139,666","124,604","121,340","93,221","103,115","95,845","101,614","89,166","97,120","116,342","118,390","157,726","184,317"
34,非洲,南非 S.Africa,0,0,0,0,0,0,38,0,0,1,6,2,8,16,"1,397","3,154"
35,非洲,非洲其他地區 Others,0,0,0,0,0,1,2,"2,838","1,110",237,"1,820",12,5,14,"3,809","13,586"
36,非洲,非洲合計 Total,0,0,0,0,0,1,40,"2,838","1,110",238,"1,826",14,13,30,"5,206","16,740"
37,全區,其他 Others,118789,"159,724","304,234","363,672","352,526","480,264","592,862","143,312","3,519","7,486","3,397",442,"3,460","1,472","5,646","5,870"
38,全區,總計 Grand Total,7319466,"5,923,072","7,780,652","8,208,125","8,671,375","8,963,712","8,465,172","8,142,946","9,415,074","9,583,873","10,239,760","11,052,908","11,844,635","13,182,976","14,588,923","15,654,579"

In [11]:
print("輸入欲查詢年份")
df_choose = df[['細分' , input()]]
df_choose

輸入欲查詢年份
2015

                             細分        2015
0                  香港 Hong Kong   2,008,153
1             大陸 Mainland China   3,403,920
2                      日本 Japan   3,797,879
3          韓國 Korea,Republic of     500,100
4                 新加坡 Singapore     318,516
5                 馬來西亞 Malaysia     201,631
6                   泰國 Thailand     599,523
7               菲律賓 Philippines     180,091
8                  印尼 Indonesia     176,478
9                     汶淶 Brunei         285
10                   越南 Vietnam     409,013
11                     澳門 Macao     527,144
12                   緬甸 Myanmar      19,999
13                 柬埔寨 Cambodia      66,593
14                亞洲其他地區 Others     143,963
15                   亞洲合計 Total  12,353,288
16  美國 United States of America     477,156
17                   加拿大 Canada      71,079
18                美洲其他地區 Others          32
19                   美洲合計 Total     548,267
20                    法國 France      41,185
21                   德國 Germany      53,043
22                    義大利 Italy          14
23               荷蘭 Netherlands      30,906
24               瑞士 Switzerland           0
25            英國 United Kingdom           0
26                  奧地利 Austria      32,835
27                歐洲其他地區 Others       3,546
28                   歐洲合計 Total     161,529
29               澳大利亞 Australia     103,806
30              紐西蘭 New Zealand           3
31                     帛琉 Palau      14,421
32               大洋洲其他地區 Others         160
33                  大洋洲合計 Total     118,390
34                  南非 S.Africa          16
35                非洲其他地區 Others          14
36                   非洲合計 Total          30
37                    其他 Others       1,472
38               總計 Grand Total  13,182,976

#再想想看有甚麼整理方式